<% if current_user.present?%>
    <li><%= link_to 'log out', destroy_user_session_path, method: :delete %></li>
<%else%>
<%end%>

<h1>Dashboard#index</h1>
<p>Find me in app/views/dashboard/index.html.erb</p>
