
<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="trip_detail" id="inlineRadio1" value="0" checked>
    <label class="form-check-label" for="inlineRadio1">One Way</label>
</div>
<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="trip_detail" id="inlineRadio3" value="1">
    <label class="form-check-label" for="inlineRadio3">Two Way</label>
</div>
<div id="#">
    <div class="mb-3">
        <small class="mb-5" style="color:blue">One way trip (Malaysia-Indonesia)</small>
    </div>
</div>
<div id="extra">
    <div class="mb-3">
        <small class="mb-5"  style="color:blue">Round Trip (Indonesia-Malaysia-Indonesia)</small>
    </div>
</div>
<!--
<script>
$('#extra').hide()
$('input:radio[name="profile_detail"]').change(function(){
    if ($(this).is(':checked') && $(this).val() == 1) {
    $('#extra').show()
    $('#current-profile').hide()
    } else {
    $('#current-profile').show()
    $('#extra').hide()
    }
});
<script>
-->