<div class="card card-primary">
	<div class="card-header">
	<h3 class="card-title">New Booking</h3>
</div>
<!-- /.card-header -->
<!-- form start -->
<div class="card-body">
	<div class="form-group">
		<label for="exampleInputEmail1">Booking No:</label>
		<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Booking No">
	</div>
	<!-- select -->
	<div class="form-group">
		<label>Ferry Number</label>
		<select class="form-control">
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
			<option>5</option>
		</select>
	</div>
	<div class="form-group">
		<label>From</label>
		<select class="form-control">
			<option>Malaysia</option>
			<option>Indonesia</option>
		</select>
	</div>
		<div class="form-group">
		<label>To</label>
		<select class="form-control">
			<option>Malaysia</option>
			<option>Indonesia</option>
		</select>
	</div>
	<div class="form-group">
		<label>Status</label>
		<select class="form-control">
			<option>Available</option>
			<option>Pending</option>
			<option>cancelled</option>
			<option>Others</option>
		</select>
	</div>
	<div class="form-group">
		<label>Date range:</label>
		<div class="input-group">
			<div class="input-group-prepend">
				<span class="input-group-text">
				<i class="far fa-calendar-alt"></i>
				</span>
			</div>
			<input type="text" class="form-control float-right" id="reservation">
		</div>
		<!-- /.input group -->
</div>
	


<div class="card-footer">
	<button type="submit" class="btn btn-primary">Submit</button>
</div>